<h1>Criar Usuario</h1>

<form asp-controller="Pessoa" asp-action="CriarUsuario" method="post">
    <label>Nome</label>
    <input type="text" name="nome"/>
    <label>Sobrenome</label>  
    <input type="text" name="sobrenome" /> 
    <br />
    <button type="submit">Cadastrar</button>
</form>